body{
    padding: 30px 5vw;
    font-size: 18px;
}
body b{
    font-size: 20px;
}
body .question{
    margin-bottom: 10px;
}
body .code_snipet{
    background-color: rgb(39, 40, 34);
    overflow-wrap: break-word;
    color: white;
    padding-bottom: 0px;
}